.pokedex {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 10px;
  flex-direction: column;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button {
  margin: 10px;
  background-color: limegreen;
  padding: 5px 10px;
  font-weight: 700;
  border-radius: 5px;
}

.button.next {
  background-color: darkorange;
  width: 200px;
  margin: 0 auto;
  margin-top: 20px;
}