.pokedex {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 10px;
  flex-direction: column;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button {
  margin: 10px;
  background-color: lightgreen;
  padding: 5px 10px;
  font-weight: 700;
  font-size: 1.2em;
}